* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}


.grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "menu main"
    "full"
    "col1 col2"
    "footer";
  
    
    grid-template-columns:
    1fr 3fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;

      
}

.header {
    grid-column: 1 / -1;
    grid-area: header;
    margin:0;
}
.arte_index{
    width: 300px;
    height: auto;
    margin: 16px auto;
    grid-column: 1 / -1;
}

.menu {
    grid-area: menu;
    background-color: #BDB76B;
    padding: 10px;
    border-radius: 8px;
  
  
    
 

}
ul {
    list-style: none;

}
li {
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}

.om {
    width: 50px;
    margin: 0 auto;
    
  
}
.envel{
    display:block;
    margin: 0 auto;
}
.main {
    grid-area: main;
    background-color: #D8BFD8;
    padding: 10px;
   
    border-radius: 8px;
   

}

.full {
    grid-area: full;
 
    padding: 10px;
    grid-column: 1 / -1;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
}

.col1 {
    grid-area: col1;
    background-color: #FFA07A;
    padding:10px;
    border-radius: 8px;
  
    
}


.col2{
    grid-area: col2;
    padding:10px;
    background-color: #FFFFF0;
    border-radius: 8px;
    
   
}
.ajusteenvelope {
margin: 16px auto;
}
.footer {
    grid-area: footer;
 
    text-align: center;
    grid-column: 1 / -1;
}

footer {
    grid-column: 1 / -1;
    text-align: center;
    padding: 8px
}

p {
    text-align: center;
}

.menu, .col1, .col2 {
    word-wrap: break-word;
    line-height: 2;
    
}




.amor {
    font-family: 'MysteryQuest', cursive;
    font-size: 40px;
    color: black;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.5px;
    margin-left: 20px;
    
}
a { text-decoration: none;}

@media (max-width: 600px) {
    .menu {
       width: 250px;
        max-width: 100%;
        margin: 8px auto;
    }
    .col1 {
       
        max-width: 100%;
    }
    .amor {
       font-size: 22px;
    }
    .om {
        display: block;
        justify-items: center;
        margin: 16px auto;
        display: block;
    }

    .grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "menu" 
    "main"
    "full"
    "col1" 
    "col2"
    "footer";

    grid-template-columns: 1fr;
}
}
@media (min-width: 769px) {

   
.om {
    width: 50px;
    height: auto;
    display: block;
    margin: 16px auto;
      
}

.amor{
    display: none;
    
}
.main {
    padding: 46px;
    text-align: center;
   font-size: 20px;
}

.menu {
    width: 100%;
}
.col1 {
    width: 100%;
    font-size: 20px;
}

.full {
text-align: center;
font-size: 18px;
}

.texto_eu {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
footer {
    margin-top: 8px;
}
}





.eufoto {
    width: 200px;
    height: auto;
    margin: 18px auto;
    display: block;

}
.texto_eu {
    font-family: ariel, serif;
    font-size: 16px;
    text-align: center;
    padding: 14px;
}

#voltar {
 text-align: center;
}
.triqueta {
  width: 56px; 
}
.p{
    color: orange;
    text-align: center;
    margin-bottom: 8px;
    font-size: 14px;
}

a{
    text-decoration: none;
}

.grid-container-deuses {
    display: grid;
    grid-template-areas: 
    "art1 mainn art2";

    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto;
    gap: 10px;
}

.art1 {
    grid-area: art1;
    margin: 0 auto;
    
   
}

.mainn {
    grid-area: mainn;
    text-align: center;
    margin-top: 20px;

}
.art2 {
    grid-area: art2;
    margin: 0 auto;
  
}

.img_deuses {
    width: 90px;
    height: auto;
    margin-top: 16px;
    
}
h3{
    color: #B8860B;
    text-align: center;
    font-family: 'Merienda', cursive;
    margin-top: 16px;
}

.deuses_lista {
    margin-top: 16px;
   
}

.hec {
    width: 300px;
    height: auto;
    margin: 12px auto;
    display: block;
}

h1{
    color: #B8860B;
    text-align: center;
    font-family: 'Merienda', cursive;
}

.hec_texto {
    padding: 16px;
}